*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: right;
   background-color: rgba(0, 0, 255, 0.514);
   padding-top: 20px;
   
}
nav span{
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   font-weight: bolder;
   color: white;
}
.home ul{
   display: flex;
   color: white;
}

.home ul li{
   list-style: none;
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
}
.home ul li a{
   color: white;
}
.home ul li:hover{
   transition: 0.4s ease;
   transform: scale(1.2);
}
.heading h1{
    font-size: 35px;
    color: crimson;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}
.heading h1::after{
    content: "" ;
    display: block;
    width: 330px;
    height: 3px;
    background-color: #222;
    margin: auto;
}
.heading p{
    font-size: 30px;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
    text-align: center;
}
.photo{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}
.box{
    display: flex;
    flex-direction: row;
}
.box img{
    width: 400px;
    height: auto;
    padding: 20px 20px 20px 20px;
    margin-right: 20px;
    margin-left: 20px;
}

a{
    color: black;
    font-weight: bolder;
    /* font-size: 15px; */
 }
 body{
    background: url(dental\ background2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
 }